*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #efeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.3);
}
.container .left_side{
    position: relative;
    background-color: #011c28;
    padding: 40px;
}
.left_side img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 4px solid transparent;
}
.left_side .profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.34);
}
.left_side .profileText h2{
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}
.left_side .profileText span{
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    line-height: 20px;
}
.left_side .title{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.left_side .contact{
    padding-top: 40px;
}
.left_side .contact ul{
    position: relative;
}
.left_side .contact ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}
.left_side .contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.left_side .contact ul li .text{
    display: inline-block;
    font-size: 13px;
    color: #fefefe;
}
.left_side .skill{
    padding-top: 40px;
}
.left_side .skill ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}
.left_side .skill ul li .text{
    display: inline-block;
    font-size: 14px;
    color: #fefefe;
}
.left_side .skill ul li .percent{
    position: relative;
    display: block;
    width: 95%;
    height: 5px;
    margin-top: 5px;
    background-color: #1e3946;
}
.left_side .skill ul li .percent div{
    height: 100%;
    background-color: #00aaff;
}
.left_side .language{
    padding-top: 40px;
}
.left_side .language ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}
.left_side .language ul li .text{
    display: inline-block;
    font-size: 14px;
    color: #fefefe;
}
.left_side .language ul li .percent{
    position: relative;
    display: block;
    width: 95%;
    height: 5px;
    margin-top: 5px;
    background-color: #1e3946;
}
.left_side .language ul li .percent div{
    height: 100%;
    background-color: #00aaff;
}
.left_side .hobbies{
    padding-top: 40px;
}
.left_side .hobbies ul{
    position: relative;
}
.left_side .hobbies ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}
.left_side .hobbies ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.left_side .hobbies ul li .text{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #fefefe;
}
.container .right_side{
    position: relative;
    background-color: #ffffff;
    padding: 40px;
}
.right_side .Summary{
    padding-bottom: 20px;
    color: #003147;
    text-transform: uppercase;
}
.right_side h2{
    border-left: 4px solid;
    padding-left: 15px;
}
.right_side .Summary p{
    margin-top: 20px;
    letter-spacing: 0.9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #333;
    text-transform: none;
}
.right_side .Experience{
    padding-top: 40px;
    color: #003147;
    text-transform: uppercase;
}
.right_side .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    color: #282727;
}
.right_side .box .year_company{
    min-width: 150px;
    min-height: 20px;
}
.right_side .box h4{
    color: #03a9f4;
    font-size: 16px;
}
.right_side .text p{
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-transform: lowercase;
}
.right_side .Education{
    padding-top: 40px;
    color: #003147;
    text-transform: uppercase;
}
.right_side .Education .head{
    padding-top: -40px;
    font-weight: bold;
    color: #003147;
    text-transform: none;
}
.right_side table{
    padding-top: 10px;
    text-transform: none;
    color: #000;
}
.right_side table th{
    padding: 10px;
    text-transform: none;
    color: #2a7da2;
}
.right_side .Project{
    padding-top: 40px;
    color: #003147;
    text-transform: uppercase;
}
.right_side .Project .sub_Projrct{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #03a9f4;
    text-transform: none;
}
.right_side .Project .sub_Projrct a{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #03a9f4;
    text-transform: none;
    text-decoration-line: none;
}
.right_side .Project .sub_Projrct h6{
    color: #2e2e2e;
    text-transform: none;
}